[Unit]
Description=GitOps Bootstrap
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/boot/firmware/gitops.env
ExecStartPre=/bin/sleep 60
ExecStartPre=/usr/local/bin/gitops-preparation.sh
ExecStart=/usr/local/bin/gitops-bootstrap.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
