[Unit]
Description=GitOps Bootstrap
After=network-online.target
ConditionPathExists=!/boot/gitops-bootstrap.done

[Service]
Type=oneshot
EnvironmentFile=/boot/firmware/gitops-bootstrap.env
ExecStartPre=/bin/sleep 60
ExecStartPre=/boot/firmware/gitops-install-and-configure-ansible.sh
ExecStart=/boot/firmware/gitops-run-ansible-playbook-and-reboot.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
