name: Test
'on':
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    name: Test
    uses: escalate/github-actions-workflows/.github/workflows/test.yml@master

  build:
    name: Build custom disk image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [32, 64]
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Run build tool for ${{ matrix.arch }}-bit disk image
        run: |
          export ANSIBLE_HOSTNAME=example.fritz.box
          export ANSIBLE_HOSTGROUP=example
          export ANSIBLE_REPOSITORY_URL=https://github.com/escalate/ansible-gitops-example-repository.git
          export ANSIBLE_VAULT_PASSWORD='REDACTED'
          make build-${{ matrix.arch }}bit
